# Directories
!hidden/README.md
.tmux/plugins/
.tmux/resurrect/
.vim/backups/*
.vim/bundle/*
.vim/spell/*
assets/iterm-profiles/*
assets/tmux-theme
hidden/*

# Files
.bash_profile
.bashrc
.shellrc.load
.tmux.conf
.tmux/theme.sh
make_sessions.ts
tags
tmux-last
vimrc
