# Directories
hidden/*
!hidden/README.md
.tmux/plugins/
.tmux/resurrect/
.vim/backups/*
.vim/bundle/*
.vim/spell/*
assets/tmux-theme
assets/iterm-profiles/*

# Files
.bash_profile
.bashrc
.shellrc.load
.tmux.conf
.tmux/theme.sh
tags
tmux-last
vimrc
